body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(252, 253, 253);
    margin: 0;
}
.login-container{
    background-color: rgb(239, 239, 239);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2{
    margin-bottom: 20px;
    color: #333;
}

.form-group{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: rgb(122, 8, 252);
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
button:hover{
    background-color: rgba(174, 0, 237, 0.963);
}
