*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #fdf5ed;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a2e1f;
    color:white;
    padding:20px;
    flex-wrap: wrap;
}
.logo h1{
    font-size:28px;
    line-height: 1.2;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    align-items: center;
}
.navbar a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap:5px;
    position:relative;
}
.cart{
    position: relative;
}
.cart-count{
    background-color: red;
    color:white;
    font-size: 12px;
    width:18px;
    height:18px;
    border-radius:50%;
    position: absolute;
    top:-8px;
    right:-10px; 

}
.hero{
    text-align:center;
    padding:100px 20px;
    color:#fff;
    background-color: #fdf5ed;
}
.hero h2{
    font-size: 48px;
    color:#fff;
    font-weight:bold;
}
.hero p{
    font-size: 18px;
    margin:20px 0;
    color:#fff;
}