.container{
   width: 500px;
   background-color: #ffffff;
   padding: 30px;
   margin: 50px auto;
   border-radius: 15px;
   
}
h1{
    text-align:center;
    color:rgba(32, 30, 30, 0.989)
}
label{
    display:block;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"],input[type="number"],
textarea{
    width:100%;
    padding:8px;
    box-sizing:border-box;
    border-radius: 5px;
    border:1px solid rgba(209, 228, 229, 0.927);
    box-sizing: border-box;
}
input[type="radio"],input[type="checkbox"] {
            margin-right: 10px;}
        textarea {
            resize: vertical;
        }
button{
    display:block;
    width:100%;
    padding:8px;
    margin-top: 20px;
    background-color: #4caf50;
    border:none;
    border-radius: 5px;
    color:white;
    font-size: 15px;

}
.button:hover{
 background-color: chartreuse;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}